<div class="rectangle-block">
    <div class="logo-container">
      <img src="assets/lynx_logo.png" alt="logo" class="logo-image">
      <!-- <h2 class="logo-text">Lynx Transit</h2> -->
    </div>

    <nav class="navigation">
      <button class="nav-button home" routerLink="/home">Home</button>
      <button class="nav-button solutions" routerLink="/services">Services</button>
      <button class="nav-button about" routerLink="/about-us">About Us</button>
      <button class="nav-button partners" routerLink="/booking">Booking</button>
    </nav>
</div>
